<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xueyu.post.mapper.VoteMapper">

	<update id="addVoteAmount" parameterType="com.xueyu.post.pojo.domain.Vote">
		update vote
		set amount = amount + 1 where post_id = #{voteId}
	</update>

</mapper>